// COLOR VARIABLES
$bg-color: #101d2c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-primary: #00fda9;
$color-secondary: #e2313e;


// FONT VARIABLES
$font-primary: "Poppins", sans-serif;