.nav {
  grid-column: col-start 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #aaa;
  &__items {
    list-style: none;
    display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
  }
  &__item {
  }
  &__link {
    font: inherit;
    text-decoration: none;
    color: inherit;
    &--active {
      font: inherit;
      text-decoration: none;
      color: #00fda9;
    }
    &:hover {
      color: #00fda9;
    }
  }
}

.logo {
  &__img {
    width: 15rem;
    height: 2rem;
  }
}
