@import "./sass/variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 
html { 
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  background-color: $bg-color;
  color: $color-grey-light-1;
}

// LAYOUT

.container{
  display: grid;
  grid-template-columns: repeat(12, [col-start] minmax(min-content,14rem) [col-end]);
  gap: 2.5rem 0;
}

// UTILITY
.mb-md{
  margin-bottom: 1rem;
}

// TYPOGRAPHY
.heading{
  &__main{
    font-size: 5rem;
    font-weight: 500;
    line-height: 6rem;
  }
  &__2{
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.btn{
  padding: .5rem 1rem;
  background-color: $color-secondary;
  color: $color-grey-light-1;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: .5px;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: $color-primary;
  }
  &:focus{
    outline: none;
  }
}

.btn-link{
  text-decoration: none;
}

.btn-alt{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $color-primary;
  font-size: 1.5rem;
  transition: all .25s ease-in;
  &:hover,&:focus{
    outline: none;
    color: $color-secondary;
    transform: translateY(1.5px);
  }
  & svg{
    width: 3rem;
    height: 2.5rem;
    margin: 0 7px;
  }
}

.active{
  background-color: $color-secondary !important;
}